<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <title>Add Book</title>
</head>
<body>
<div th:replace="index :: addnavbar"></div>
<form>
    <div class="form-group">
        <label for="addFormControlInput1">Title</label>
        <input type="text" class="form-control" id="addFormControlInput1"/>
    </div>
    <div class="form-group">
        <label for="addFormControlInput2">Author</label>
        <input type="text" class="form-control" id="addFormControlInput2"/>
    </div>
    <div class="form-group">
        <label for="addFormControlInput3">Year of Publication</label>
        <input type="number" class="form-control" id="addFormControlInput3"/>
    </div>
    <div class="form-group">
        <label for="addFormControlInput4">ISBN number</label>
        <input type="text" class="form-control" id="addFormControlInput4"/>
    </div>
    <div class="form-group">
        <label for="addFormControlInput5">Image</label>
        <input type="url" class="form-control" id="addFormControlInput5"/>
    </div> <br/>
    <input type="submit" value="submit"/>
</form>
</body>
</html>