<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <title>List of Library Books</title>
</head>
<body>
<div th:replace="index :: othernavbar">
</div>
<table>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Year</th>
        <th>ISBN</th>
        <th>Image</th>
        <th>Borrowed</th>
        <td>Actions</td>
    </tr>
    <tr th:each="book :${books}">
        <td th:text="${book.title}"></td>
        <td th:text="${book.author}"></td>
        <td th:text="${book.year}"></td>
        <td th:text="${book.isbn}"></td>
        <td>
            <!--<img th:src="@{${book.image}}" th:alt="${book.title}"/>-->
            <img th:src="@{${book.image}}" th:alt="${book.title}" th:height="100" th:width="100"/>
        </td>
        <td th:text="${book.borrowed}"></td>
        <div th:switch="${book.borrowed}">
            <p th:case='true'>
                <!--<td><a th:href="@{/}">Return</a></td>-->
                <td><a th:href="@{/return/{id}(id=${book.id})}">Return</a></td>
            </p>
            <p th:case='false'>
                <td><a th:href="@{/borrow/{id}(id=${book.id})}">Borrow</a></td>
            </p>
        </div>
    </tr>
</table>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>